.title {
  color: hotpink !important;
}
@media all and (max-width: 1024px) {
  .skills__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills__circle {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills__left h2 {
    align-self: center;
  }
}
@media all and (max-width: 425px) {
  .skills__circle {
    display: flex;
    flex-direction: column;
  }
}
